{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - О проекте{% endblock %}
{% block description %}О проекте{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>О проекте</h1>
    </div>
    <p class="lead">На сайте собраны результаты решений задач с <a href="https://projecteuler.net/">Project Euler</a>,
        которые прогонялись на <strong>Raspberry Pi 2</strong>. Этот миниатюрный компьютер выбран потому, что
        современные машины слишком уж мощные для первых заданий (Project Euler был запущен в 2001-м году) и даже глупый
        брутфорс легко укладывается в отведённую минуту. Да и просто нужно же куда-то свою распберри использовать, у
        меня их уже две штуки без дела валяется :)
    </p>
    <p>Изначально планировал за пару вечеров написать простейший генератор статического сайта, хоть их много и готовых
        имеется, но в итоге вышло на пару недель с <strong>Silex</strong>-ом по вечерам, его тоже нужно было применить,
        а тут как раз подходящий случай (ссылка на фреймворк в футере, кому интересно). Исходники сайта
        <a href="https://github.com/morontt/projecteuler-stat">доступны</a>, так что смотрите и ломайте, при желании.
    </p>
{% endblock %}
