{% extends "layout.html.twig" %}

{% block title %}{{ parent() }}{% if page > 1 %} - страница {{ page }}{% endif %}{% endblock %}
{% block description %}Статистика по решениям задач с projecteuler.net{% if page > 1 %} (страница {{ page }}){% endif %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Статистика по решениям задач</h1>
    </div>
    {% if page == 1 %}
        <div>
            <p class="lead">Результаты решений задач с <a href="https://projecteuler.net/">Project Euler</a>,
                прокрученные на <strong>Raspberry Pi 2</strong>.
            </p>
        </div>
    {% endif %}
    <div class="row results-row">
        <div class="col-md-6">
            {%- for result in results -%}
                {%- if loop.index is odd -%}
                    {% include('web/_result.html.twig') with {'user_link': true, 'problem_link': true} %}
                {%- endif -%}
            {%- endfor -%}
        </div>
        <div class="col-md-6">
            {%- for result in results -%}
                {%- if loop.index is even -%}
                    {% include('web/_result.html.twig') with {'user_link': true, 'problem_link': true} %}
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
    {{ include('_paginator.html.twig') }}
{% endblock %}
