{% extends "layout.html.twig" %}

{% block navbar %}
    <ul class="nav navbar-nav">
        <li {% if global.request.get('_route') in ['admin_solutions_index', 'admin_solutions_new', 'admin_solutions_edit'] %}class="active"{% endif %}>
            <a href="{{ path('admin_solutions_index') }}">Решения</a>
        </li>
        <li {% if global.request.get('_route') in ['admin_languages_index', 'admin_languages_new', 'admin_languages_edit'] %}class="active"{% endif %}>
            <a href="{{ path('admin_languages_index') }}">ЯП</a>
        </li>
    </ul>
{% endblock %}

{% block flashes %}
    {% for alert in app.session.flashbag.get('success') %}
        <div class="alert alert-success" role="alert">{{ alert }}</div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('form.form-delete').on('submit', function () {
                return confirm('Уверены?');
            });
        });
    </script>
{% endblock %}
